

* {
    box-sizing : border-box ;
}

#Settings {

    margin-bottom : 5rem ;
    margin-top : 2rem ;

    padding : 1rem ;
    gap : 4rem ;

    grid-template-columns : repeat( auto-fit , 22rem ) ;
    justify-content : center ;
    display : grid ;
}

#Settings > div {

    flex-direction : column ;
    align-items : stretch ;
    display : flex ;
}

input , select , textarea , button {

    max-width : 100% ;

    background : var(--vscode-button-secondaryBackground) ;

    border-radius : 4px ;
    border : 1px solid var(--vscode-button-separator) ;

    padding : 0.2rem 0.4rem ;

    font-weight : bold ;
    color : var(--vscode-button-foreground) ;

    filter : drop-shadow( 2px 2px 4px #FFFFFF11 ) ;
}

button {

    border-color : var(--vscode-activityBar-inactiveForeground) ;
    background : var(--vscode-activityBarItem-profilesForeground) ;
    
    text-align : center !important ;
    font-size : 1rem ;
    color : white ;
    
    cursor : pointer ;
}

button:hover {
    background : steelblue ;
}

textarea {

    overflow-x : hidden ;
}

label {
    user-select : none ;
    text-align : center ;
}

:is( a , input[ type = 'checkbox' ]):focus {
    outline : none ;
}

a {
    text-decoration : none ;
}

label > a {
    font-weight : bold ;
}

h1 {
    text-align : center ;
}

h2 {

    margin-top : 0 ;
    gap : 0.5rem ;

    align-items : center ;
    display : flex ;
}

h2 > img {
    height : 2rem ;
}


#settingsblock > div {

    flex-direction : column ;
    align-items : center ;
    display : flex ;
}

#settings {

    width : 100% ;

    grid-template-columns : repeat(auto-fit,26rem) ;
    justify-content : center ;
    display : grid ;
    gap : 1.5rem ;
}

#settings * {
    text-align : left ;
}

#settings > div {

    position : relative ;

    border-radius : 0.4rem ;
    border : 1px solid var(--vscode-checkbox-border) ;

    padding : 2rem ;

    flex-direction : column ;
    display : flex ;
}


/*  Setting Remove Button  */

#settings > div > :first-child {

    position : absolute ;
    padding : 0.2rem ;

    aspect-ratio: 1 ;
    height : 2rem ;

    border-radius : 0.3rem ;
    border : 1px solid var(--vscode-activityBar-background) ;

    font-weight : bold ;
    line-height : 0.8rem ;
    font-size : 0.8rem ;

    justify-items : center ;
    align-items : center ;
    display : grid ;

    cursor : pointer ;

    right : 1rem ;
    top : 1rem ;
}

#settings > div > :first-child:hover {

    border-color : var(--vscode-charts-orange) ;
    background : var(--vscode-button-secondaryHoverBackground) ;
}


#settings_addition {

    max-width : 30rem ;

    grid-template-columns : repeat( auto-fit , 2rem ) ;
    justify-content : center ;
    display : grid ;
    gap : 0.3rem ;

    margin-bottom : 2rem ;
    padding : 0.5rem ;
}

#settings_addition > img {

    background : var(--vscode-button-secondaryBackground) ;

    aspect-ratio : 1 ;

    border-radius : 0.4rem ;
    border : 1px solid transparent ;

    cursor : pointer ;
}

#settings_addition > img:hover {

    border-color : var(--vscode-charts-orange) ;
    background : var(--vscode-button-secondaryHoverBackground) ;
}


.sidebyside {

    align-items : center ;
    display : flex ;
    gap : 0.5rem ;
}

input[ type = 'checkbox' ]{

    -webkit-appearance : none ;
    
    aspect-ratio : 1 ;
    width : 1rem ;
}

input[ type = 'checkbox' ]:checked {
    border-color : var(--vscode-button-secondaryBackground) ;
    background : var(--vscode-button-background) ;
}


.Options {

    flex-direction : column ;
    display : flex ;
    gap : 1rem ;
}

.Options > :first-child {

    flex-direction : column ;
    display: flex ;
    gap : 0.6rem
}

.Options > :last-child {
    width : 100% ;
}


/*  Items  */

.Options > :first-child > div {

    grid-template-columns : 1fr 1fr 2rem ;
    grid-template-rows : 2rem ;
    grid-gap : 1rem ;
    display : grid ;
}


/*  Label & Value  */

.Options > :first-child > div > input {
    
    text-align : center !important ;
    width : 100% ;
}


/*  Remove Button  */

.Options > :first-child > div > :last-child {

    background : var(--vscode-charts-red) ;    
    
    justify-content : center ;
    align-items : center ;
    display : grid ;
    
    line-height : 0 ;
    font-size : 0.8rem ;
}

.Options > :first-child > div > :last-child:hover {
    opacity : 0.8 ;
}
